language: node_js
node_js:
  - stable
  - lts/carbon
  - lts/boron
sudo: false

env:
  global:
    - NODE_ENV=ci
    - GK_LOCK_YARN_OPTS=-WD

before_install:
  - npm install -g yarn greenkeeper-lockfile@latest
  - &prepKey if [[ $GH_TOKEN ]]; then ./prepare-gpg-key.sh; fi;
  - greenkeeper-lockfile-update
  - yarn run sync

install: yarn install --check-files

script:
  - yarn run tslint
  - yarn run typecheck
  - yarn run test --forbid-only --forbid-pending

after_success: cat ./coverage/lcov.info | coveralls

after_script: if [[ $GH_TOKEN ]]; then greenkeeper-lockfile-upload; fi;

cache:
  yarn: true

stages:
  - Test
  - name: Deploy

jobs:
  include:
    - stage: Deploy
      if: branch=master
      node_js: stable
      before_install:
        - npm install -g yarn
        - *prepKey
        - yarn run sync
      before_script: yarn run tsc
      script: semantic-release
      after_success: []
      after_script: []
