language: node_js
node_js:
  - stable
  - lts/carbon
  - lts/boron
sudo: false
env:
  global:
    - NODE_ENV=ci
before_install:
  - npm install -g yarn
  - yarn global add greenkeeper-lockfile@latest --check-files
  - greenkeeper-lockfile-update
  - yarn run sync
install: yarn install --check-files
script:
  - yarn run tslint
  - yarn run typecheck
  - yarn run test --forbid-only --forbid-pending
after_success: cat ./coverage/lcov.info | coveralls
after_script: if [ $GH_TOKEN ]; then greenkeeper-lockfile-upload; fi;
before_cache: rm -rf node_modules/.cache
cache:
  yarn: true

#openssl aes-256-cbc -K $encrypted_38a76308a702_key -iv $encrypted_38a76308a702_iv -in .npmrc.enc -out .npmrc -d